/* =============================================================================
  GENERAL
  ========================================================================== */
  
.hidden_phone{
	display: block;
}
.hidden_tablet{
	display: none;
}

.main_wrp{
}



/* =============================================================================
  HEADER
  ========================================================================== */

header{
    h1{
        width: auto;
    }
}

.main_nav{
    float: right;
    padding-top: .75em;
    li{
        margin: 0;
        border: none;
        border-radius: 0;
    }
    a{
    }
    .cta{
        border-radius: 0;
        border: 1px solid #FFF;
    }
}





/* =============================================================================
  MAIN SLIDER
  ========================================================================== */

.mainslider_wrp{
    margin-top: 3.5em;
}

.mainslider_info{
    padding: 1.4em 1em 1em 2em;
    font-size: 1.1em;
    line-height: 150%;
}



