/* =============================================================================
  GENERAL
  ========================================================================== */




/* =============================================================================
  HEADER
  ========================================================================== */

header{
    h1{
        float: left;
    }
    small{
        display: inline;
        line-height: inherit;
    }
}


.main_nav{
    padding-top: .45em;
}



/* =============================================================================
  CONTENT
  ========================================================================== */

.modal{
    padding: .3em;
    background: #2997CE;
    border: none;
    margin-bottom: 0;
    margin-right: 1em;
    float: left;
    
}